.table {
  margin: 30px auto;
  width: 95%;
  border: 5px solid cornflowerblue;
  border-radius: 10px;
}

.table-heading {
  font-size: 25px;
  color: purple;
  background-color: rgb(152, 251, 241);
}
.table-body {
  font-size: 19px;
  font-weight: 600;
  color: aliceblue;
  background-color: lightcoral;
}

.table-heading th,
.table-body td {
  padding: 10px 5px;
}

.table-body tr:nth-child(even) {
  background-color: lightslategray;
}

.heading {
  text-align: center;
  font-size: 35px;
  color: teal;
  margin-top: 25px;
  border-left: 5px solid lightcoral;
  border-right: 5px solid lightcoral;
  max-width: fit-content;
  padding: 0 10px;
  margin: 25px auto 10px auto;
  text-shadow: 2px 2px 2px coral;
  transition: transform 1s;
}

.heading:hover {
  transform: scaleX(400%);
  cursor: default;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropbtn {
  background-color: teal;
  color: cornsilk;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}

.dropdown {
  float: left;
  margin-left: 20px;
}

.dropdown svg {
  position: relative;
  left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: thistle;
  border-radius: 20px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ul {
  padding: 0 5px;
  margin: 0;
}

.dropdown-content li {
  color: midnightblue;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: block;
}

.dropdown-content li:hover {
  background-color: crimson;
  color: antiquewhite;
  border-radius: 20px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: tomato;
  color: floralwhite;
}
