.header {
  background-color: palegreen;
  text-align: center;
  padding: 20px;
}

.name a {
  color: darkslategray;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 2px cadetblue;
  text-decoration: none;
}

.name a:hover {
  transform: scale(1.05, 1.05);
  color: palevioletred;
  text-shadow: 2px 2px black;
  cursor: pointer;
}
